using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using {{#settings}}{{namespace}}{{/settings}}.Models.{{#Entity}}{{NameSingular}}{{/Entity}};

namespace {{#settings}}{{namespace}}{{/settings}}.Controllers
{
    public class {{#Entity}}{{NameSingular}}{{/Entity}}Controller : Controller
    {
        public ActionResult Index({{#Entity}}{{NameSingular}}{{/Entity}}InputModel input)
        {
            return View();
        }
    }
}
